.facebookBtn {
    background-color: #343434;
    border: 1px solid rgb(175, 175, 175);
    width:235px;
    height: 3em;
    border-radius: 5px;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding: 15px 0 15px 0;
    
}

.facebookBtn:hover{
    background-color: white;
    color: #474747;
    cursor: pointer;
}

/* colorFacebook {
    color:#3B599A
} */

@media(max-width: 768px) and (min-width:750px){
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 649px) and (min-width: 0px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 360px) and (min-width: 0px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 731px) and (max-height: 411px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 640px) and (max-height: 360px) and (min-width: 0px) and (min-height: 0px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 736px) and (max-height: 414px) and (min-width: 641px) and (min-height: 361px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 854px) and (max-height: 530px) and (min-width: 737px) and (min-height: 415px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 812px) and (max-height: 375px) and (min-width: 641px) and (min-height: 361px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (min-width: 0px) and (min-height: 0px) {
    .facebookBtn{
        width: 100%;
        font-size: 14px;
        height: 4em;
    }
}