.container_game_modes{
    background-color: #212429;
    width: 100%;
    height: max-content;
    color: white;
    display: flex;
    justify-content: space-between;
}

.descrip_game_mode{
    color: white;
    font-size: 13px!important;
    width: 90%;
    position:relative;
    top: 1%;
    margin-left: 5%;
}

.subContainer_game_modes{
    width: 100%;
    height: max-content;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    bottom: 35%;
}

.subContainer_game_modes_unlock{
    width: max-content;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.game_mode {
    text-decoration: none;
    color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    max-width: 15em;
    cursor: pointer;
    height: max-content;
}

.game_mode p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -.1em;
}

.game_mode:hover{
    background-color: #c94ebf;
    border-radius: 15px;
    transition: all .4s ease-out;
    transform: scale(0.9);
}

.game_mode_gray{
    filter: grayscale(100);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    max-width: 15em;
    cursor: pointer;
    height: max-content;
}

.unlock{
    font-size: 10px !important;
    margin-top: 40px;
}

.game_mode_gray{
    cursor: default;
    text-decoration: none;
    color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.game_mode_gray p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.game_mode_gray:hover{
    transform: scale(0.9);
    background-color: #c94ebf34;
}

.container_game_modes button {
    background-color: transparent;
    border-style: none;
}

/*  */
.swal2-container.swal2-center>.swal2-popup{
    background-color:#212429;
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    margin-top: -55px;
    z-index: 110000;
}

.mood_title {
    color: white 
}

.mood_container {
    display: flex;
    justify-content: space-between;
}

.mood_container span{
    font-size: 80px;
    filter: grayscale(100);
}

#fine:hover {
    filter: grayscale(0);
}
#normal:hover {
    filter: grayscale(0);
}
#bad:hover {
    filter: grayscale(0);
}
/*  */