/*  */
.swal2-container.swal2-center>.swal2-popup{
    background-color:#212429;
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    margin-top: -55px;
    z-index: 110000;
}

.mood_container h3{
    color: white;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
}

.mood_container span{
    font-size: 80px;
    filter: grayscale(100);
}

#fine:hover {
    filter: grayscale(0);
}
#normal:hover {
    filter: grayscale(0);
}
#bad:hover {
    filter: grayscale(0);
}
/*  */
.videoGreen {
    position: relative;
    border: 5px solid green;
    margin-left: 1.5%;
    min-width:96.7%;
    min-height:39.7rem;
    max-width:96.7%;
    max-height:39.7rem;
    top:85%;
    background-color: black;
    z-index: 5;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.videoRed {
    position: relative;
    border: 5px solid red;
    margin-left: 1.5%;
    min-width:96.7%;
    min-height:39.7rem;
    max-width:96.7%;
    top:85%;
    max-height:39.7rem;
    background-color: black;
    z-index: 5;
}
.containerf{
    background-color: black;
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 5;
}
.delimitador{
    width:1000px;
    margin:auto;
}
.contedorvideo{
    height:0px;
    width:100%;
    max-width:1000px; 
    background:white ;
    padding-top:56.25%; 
    position:relative;
    object-fit: fill;
}
.contenedordelvideo{
    background: radial-gradient(75.05% 75.05% at 50% -1.66%, rgba(201, 78, 191, 0.2) 0%, rgba(201, 78, 191, 0) 100%), #212429;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}
.vidasgame{
    color: red; 
    display: flex; 
    flex-direction: row;
    width: 10%;
    font-size: 4vh
}
.video{
    width: 95% !important;
    margin-top: 11px;
    min-height: 83vh;
    border-color: rgb(0, 0, 0);
    background: black;
    z-index: 5;
    overflow: hidden;
    object-fit: fill;
}

.videoGame{
    margin-top: 1em;
    text-align: -webkit-center;
    width: 95%;
    background-color: black;
    border-radius: 20px;
}

.fondo3{
    overflow:hidden;
    width: 100%;
    min-height: 100%;
    position:absolute;
    background: radial-gradient(75.05% 75.05% at 50% -1.66%, rgba(201, 78, 191, 0.2) 0%, rgba(201, 78, 191, 0) 100%), #212429;
}
.Link{
    position: absolute;
    background-color: rgb(0, 0, 0);
}
.Link2{
    position: absolute;
}

.imgLoading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navGame{
    position:absolute;
    width: 80%;
    top: 2%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.imgPlayer{
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    text-align: center;
    margin-top: .5em;
}

.imgPlayer img{
    width: 80%;
    height: 95%;
    border-radius: 20px;
}

@media (min-width: 1920px) {
    .navGame{
        position: absolute;
        top:3%;
    }

}

@media only screen and (max-width: 1919px) and (min-width: 1440px){
    .navGame{
        position: absolute;
        top:3%
    }
}

@media only screen and (max-width: 1439px) and (min-width: 1366px){
    .navGame{
        position: absolute;
        top:2.7%
    }
}

@media only screen and (max-width: 1365px) and (min-width: 1024px){
    .navGame{
        position: absolute;
        top:2.4%
    }
}

@media only screen and (max-width: 1000px) and (min-width: 812px) and (max-height:500px) and (min-height:375px){
    .contenedordelvideo{
        position: absolute;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom:8%
    }

    .video{
        max-width: 87%;
        margin-left: 1.7%;
        min-height: 83vh;
        color: rgb(0, 0, 0);
        background: black;
        border-radius: 20px;
        z-index: 5;
        overflow: hidden;
    }
    
    .navGame{
        position: absolute;
        top:1%;
        margin-top:-42px
    }
    .vidasgame{
        font-size: 2vh
    }
    
    .xgame{
        font-size: 3vh;
        padding-top:5px
    }
}

@media only screen and (max-width: 854px) and (min-width: 820px){
    .navGame{
        position:absolute;
        top:1%;
        margin-top:-50px
    }

    .vidasgame{
        width:15%
    }
}


@media only screen and (max-width: 800px) and (min-width: 768px){

    .navGame{
        position: absolute;
        top:3%
    }

    .vidasgame{
        font-size: 2.5vh
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }

}

@media only screen and (max-width: 767px) and (min-width: 540px) and (max-height:414px) and (min-height: 400px){
    .contenedordelvideo{
        height:80%;
        bottom: 8%
    }

    .navGame{
        position:absolute;
        top:1%;
        margin-top:-55px
    }

    .vidasgame{
        font-size: 2.5vh;
        width:18%;
        margin-top:-1px
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }

    .xgame{
        padding-top:5px
    }
}

@media only screen and (max-width: 540px) and (min-width: 500px) and (max-height:720px) and (min-height:700px){
    .navGame{
        position:absolute;
        bottom:120%;
    }
}

@media only screen and (max-width: 720px) and (min-width: 710px) and (max-height:540px) and (min-height:500px){
    .navGame{
        position:absolute;
        top:0%;
        margin-top:-100px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px){
    .contenedordelvideo{
        height:80%;
        bottom: 8%
    }

    .navGame{
        margin-top:-45px
    }

    .vidasgame{
        font-size: 2.5vh;
        width:18%;
        margin-top:-1px
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }

    .xgame{
        padding-top:5px
    }
}
@media only screen and (max-width: 539px) and (min-width: 411px){

    .vidasgame{
        font-size: 2vh !important;
        width:13%
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }
    .xgame{
        font-size: 3vh;
        padding-top:10px
    }
}
@media only screen and (max-width: 410px) and (min-width: 375px){

    .navGame{
        position: absolute;
        margin-top:-5px
    }

    .vidasgame{
        font-size: 3vh;
        width: 20%;
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }
    .xgame{
        font-size: 4vh;
        padding-top:10px
    }
}
@media only screen and (max-width: 374px) and (min-width: 360px){

    .navGame{
        position: absolute;
        margin-top:-5px
    }

    .vidasgame{
        font-size: 3vh;
        width: 20%;
    }
    .video{
        max-width: 87%;
    margin-left: 1.7%;
    margin-top: 11px;
    min-height: 83vh;
    color: rgb(0, 0, 0);
    background: black;
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
    }
    .xgame{
        font-size: 4vh;
        padding-top:10px
    }
}