  
.googleLogin {
    background-color: #343434;
    border: 1px solid rgb(175, 175, 175);
    width:235px;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5.5%;
    font-size: 15px;
    height: 3em;
    vertical-align: middle;
}

.googleLogin:hover{
    background-color: white;
    color: #474747;
}

.googleLogin:hover {
    cursor: pointer;
}


/* colores google {
    azul : #4285F4;
    rojo: #EA4335;
    amarillo:#FBBC05;
    verde:#34A853
} */