@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap%27');

.tutorialHome {
    background-color: white;
    border-radius: 5px;
    border-style: none;
    width: 150px;
    height: 50px;
    color: #800FC7;
    font-weight: bold;
    font-size:15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.moods-title {
    text-align: center;
    color: rgba(219, 88, 88, 0.986);
}
.moods-img {
    display: flex;
    justify-content: space-around;
}

.moods-img span {
    font-size: 50px;
}

.moods-img span:hover {
    cursor: pointer;
}

.swal2-container.swal2-center>.swal2-popup{
    width:40%;
    background-color: #343434;
    color: white;
}
.swal2-html-container{
overflow: hidden;
}
.swal23{
    position: absolute;
    color: white;
    margin-top: 1%;
}
.swal2-inputmh{
    position: absolute;
    box-sizing: border-box;
    width: 45%;
    height: 2.625em;
    transition: border-color .1s,box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    background: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px transparent;
    color: white;
    font-size: 1.125em;
    margin-top: 3.5%;
}
.swal55{

    position: relative;
    background-color: rgb(25, 0, 255);
}
.swal234{
    position: absolute;
    color: white;
    margin-top: 1%;
    width: 45%;
    right: 0;
    text-align: left;
}
.swal2346{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 0;
    width: 100%;
}
.asdasdd{
    display: inline-block;
    margin:0;
    text-align: left;
}
.dddd{
    margin:0;
}
.swal2-html-container{
    text-align: left;
}
.row:after {
    content: "";
    display: table;
    color: #FFFF;
    clear: both;
  }
  .column {
    float: left;
    width:45%;
    padding: 10px;
    color: #FFFF;
     }
.swal2-inputmh4{
    position: unset;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    background-color: #474747;
    min-height: none;
    height: 1.625em;
    transition: border-color .1s,box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px transparent;
    color: white;
    font-size: 1.125em;
}
.tutorialHome:hover{
    border-style: solid;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border-color: #800FC7;
    border-width:6px;
    color: #800FC7
}

.signUpText{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.container_buttons_home{
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 400px;
    height: max-content;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    vertical-align: middle;
    right:4%;
    position: absolute;
    top: 7%
}

body{
    overflow-x:hidden ;
}

.loginHome{
    background: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    right:9%;
    position: absolute;
    top: 8%;
    color:white
}

.auxiliarFondo{
    z-index: 15000;
    color: white;
    box-shadow: 0px 0px 300px 100px rgba(201, 78, 191, 0.281);
    border-radius: 50px;
    background-color: transparent;
    border-style: none;
    height: 1px;
    position: absolute;
    bottom: 0;
    width: 250px;
}

.auxiliarFondoDerecha{
    z-index: 15000;
    color: white;
    box-shadow: 0px 0px 300px 100px #800fc759;
    border-radius: 50px;
    background-color: transparent;
    border-style: none;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
}

.loginHome:hover{
    background-color: rgba(255, 255, 255, 0.329);
    border-style: solid;
    border-width: 0.5px;
}

.second_screen_home{
    background-color:#212429;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.button_scroll{
    background-color: rgba(255, 255, 255, 0.048); 
    cursor: pointer;
    color: white ;
    height: max-content;
    width: 50px;
    border-style: none;
    border-radius: 50px;
    font-size: 35px;
    position: absolute;
    top:90%;
    left: 50%;
    z-index: 20000;
    text-decoration: none;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.button_scroll {
    padding-top: 70px;
  }
  .button_scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05{
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
.brain_right{
    position: relative;
    top: 15vh;
    height: 85vh;
}

@media(min-width: 1366px){
    .brain_right{
        position: relative;
        top: 15vh;
        height: 85vh;
        margin-right: -10em;
    }

    .second_page_subtitle{
        margin-bottom: 40px !important;
    }
}

@media(min-width: 1440px){
    .brain_right{
        position: relative;
        top: 25vh;
        height: 75vh;
        padding-left: 520px;
    }

    .second_page_subtitle{
        font-size: 25px !important;
        margin-bottom: 70px !important;
        width: 700px !important;
    }

    .second_page_title{
        font-size: 75px !important;
        width: 100% !important;
    }
    
    .second_page_title span{
        font-size: 75px !important;
    }

    .text_secon_page{
        position: absolute;
        top: 15vh !important;
    }
}

@media(min-width: 1920px){
    .brain_right{
        position: relative;
        top: 24vh;
        height: 75vh;
        margin-right: -100%;
        padding-left: 760px;
    }

    .text_secon_page{
        position: absolute;
        top: 15vh !important;
        height: 300px;
        width: 80em;
    }

    .second_page_title{
        font-size: 90px !important;
    }
    
    .second_page_title span{
        font-size: 90px !important;
    }

    .second_page_subtitle{
        font-size: 25px !important;
        margin-bottom: 90px !important;
    }

    .startGameLanding{
        font-size: 30px !important;
        width: 280px !important;
    }

    .textHome{
        font-size: 65px !important;
    }

    .textHome span{
        font-size: 65px !important;
    }

    .sub_textHome{
        font-size: 25px !important;
    }
}


.text_secon_page{
    position: relative;
    top: 21vh;
    height: 200px;
}

.second_page_title {
    font-size: 50px;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
}

.second_page_subtitle{
    font-size: 20px;
    margin-left: 10.5%;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin-bottom: 40px;
}

.startGameLanding{
    cursor: pointer;
    background-color: #C94EBF;
    width: 150px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10.5%;
    color: white;
    border-style: none;
    font-size: 16px;
    font-weight: 550;
}

.registerHome{
    background: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    right:45%;
    position: absolute;
    top: 8%;
    color: white;
}

.textHomeSession{
    position: absolute;
    color: white;
    font-size: 50px;
    margin-top: 12%;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    text-align: center;
}

.cerebritoHomeResults{
    z-index: 1000;
    width: 750px;
    height: 450px;
    position: absolute;
    bottom: 0;
}

.registerHome:hover{
    background-color: rgba(255, 255, 255, 0.329);
    border-style: solid;
    border-width: 0.5px;
}

.scores{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 29%;
    width:40%;
    margin-left: 26%;
    align-items:center;
    z-index: 10;
    place-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212429;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.column_scores{
    display: flex;
    flex-direction: column;
}

.column_scores h4{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.column_scores p{
    color: #C94EBF;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: -25px;
}

.buttonsHome{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 15%;
    width:100%;
    align-items:center;
    z-index: 21000;
    place-content: center;
}

.startGame {
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    border-width: 1.5px;
    border-style: solid;
    width: 150px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin-right: 20px;
}

.startGame:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

.container__home_dos{
    display: flex;
    flex-direction:column
}

/* body{
    min-height: 100vh;
    background: linear-gradient(to top,#2C2C2B, black);
    overflow-x: hidden;
}  */
.homeDiv{
    min-height: 100vh;
    background: radial-gradient(75.05% 75.05% at 50% -1.66%, rgba(201, 78, 191, 0.2) 0%, rgba(201, 78, 191, 0) 100%), #212429;
    overflow-x:hidden;
    display: flex;
    flex-direction:column
}

.stars {
    width: 100%;
    position: absolute;
}

.brainsBottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom:-67px;
}

.brainBack{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

.section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #212429, transparent);
    z-index: 1000;
}

.textHome {
    position: absolute;
    color: white;
    font-size: 50px;
    margin-top: 13%;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    text-align: center;
}

.memory_style{
    border-radius:10px;
    color: #fd53a5;
    font-weight: bolder;
    font-size: 51px;
}

.sub_textHome{
    position: absolute;
    color: white;
    font-size: 18px;
    margin-top: 24%;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    text-align: center;
    z-index:5;
}

.sessionBox{
    background: transparent;
    width: 12em;
    position: absolute;
    right: 0;
    margin-right:30px;
    height: 60px;
    margin-top:30px;
    border-radius:5px;
    border-color:white;
    border-style:solid;
    border-width:1px
}

.boxDisplay{
    display: flex;
    flex-direction: row
}

.textBox{
    display: flex;
    flex-direction: column
}

.textBox p {
    margin-top:10px;
    font-weight:bold;
    margin-left:7px;
    font-size:14px
}

.btnOpenSessionMenu{
    height: 20px;
    margin-top:11%;
    margin-left:10%;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    color: white
}

.profilePic{
    width:45px;
    height:45px;
    border-radius:100%;
    margin-left:5%;
    margin-top:4%;
    margin-bottom:5%
}

.sessionStatus{
    color: rgb(104, 240, 92);
}

.sessionName{
    margin-bottom:-5px;
    color: white
}

.btnLogOut{
    background: rgb(255, 255, 255);
    width: 14.5em;
    border-style:none;
    margin-left:-2px;
    margin-top:6px;
    padding: 10px 0 10px 0;
    border-radius:5px;
    color:rgba(219, 88, 88, 0.986);
    font-weight:bold;
    cursor:pointer;
}

.btnLogOut:hover{
    border-style:solid;
    border-color: rgba(219, 88, 88, 0.986);
}

.formulario_register{
    position: absolute;
}