.form {
    display: flex;
    width: 100%;
    flex-direction: column; 
    text-align: center;
    z-index: 4; 
}
.form2 {
    display: flex;
    width: 100%;
    flex-direction: column; 
    z-index: 4; 
    justify-content: center;
    align-items: center;
}
.form3 {
    display: flex;
    width: 100%;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    z-index: 4; 
}

.containerLanding {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 40000;
}

.inputForm {
    width:99%;
    padding: 14px 0 14px 0;
    text-align: center;
    background-color: #474747;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    border-width: 0.5px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.inputForm2 {
    width:99%;
    padding: 14px 0 14px 0;
    text-align: center;
    background-color: #242224;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.inputForm::placeholder{
    text-align: center;
    line-height: 100px;
    color: white;
}

.forgotPassword{
    color: white;
    margin: 10px 0px 10px 0;
    position: relative;
    text-align: end;
    width: 100%;
    font-size: 15px;
}

.forgotPassword:hover{
    color: #f22ca091 ;
}

.continue {
    border-style: none;
    text-transform: uppercase;   
    font-size: 14px; 
    width:99%;
    padding: 14px 0 14px 0;
    color: white;
    background-color:#C94EBF;
    border-radius: 10px;
}

.continue:hover{
    cursor: pointer;
}

.hr {
    border:none;
    background-color: rgb(197, 197, 197);
    height: 0.5px;
}

.or {
    display: flex;
    flex-direction: row;
    width:120%;
    margin-left: -20px;
    color:rgb(197, 197, 197);
}

.signUp{
    display: flex;
    flex-direction: row;
}

.signUpText{
    color:rgb(197, 197, 197)
}

.signUpLink{
    margin-top: 14.5px;
    margin-left: 5px;
    color: rgb(197, 197, 197);
}

.signUpLink:hover{
    color: #f22ca091;
}
/* {Colores P
#7A7878 === gris oscuro 
#F22C9F === fucsia tekal
#06EFE7 === celeste tekal
rgb(197, 197, 197)===gris claro*/