.progressBar{
    width: 70%;
    margin-left: 1.7%;
    margin-top: 11px;
    height: 10px;
    border-radius: 5px;
    color: violet;
 }
 
 ::-webkit-progress-value {  
     transition: width 1s;
     width: 85%;
     background: #80CCE8;
 }
 @media only screen and (max-width: 539px) and (min-width: 411px){

    .progressBar{
        width: 60%;
    margin-left: 1.7%;
    margin-top: 11px;
    height: 10px;
    border-radius: 5px;
    color: violet;
    }

}
@media only screen and (max-width: 410px) and (min-width: 375px){

    .progressBar{
        width: 50%;
    margin-left: 1.7%;
    margin-top: 11px;
    height: 10px;
    border-radius: 5px;
    color: violet;
    }

}