.progressBar{
    width: 96%;
    margin-left: 2.6%;
    margin-top: -25px;
    height: 10px;
    border-radius: 50px;
    color: violet;
 }
 
 ::-webkit-progress-value {  
     transition: width 1s;
     width: 85%;
     background: #80CCE8;
 }