.formRegister {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    right: 2%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.904);
    margin-top:20px;
    align-items: center;
    margin-right: 3%;
}
.formRegister2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    align-items: center;
    margin-right: 3%;
}

.inputFormRegister {
    width:185%;
    padding: 14px 0 14px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    border-style: solid;
    border-width: 0.5px;
    color: white;
    margin-left: -51px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
}

.logoFormRegister{
    width: 150px;
    height: 30px;
    display: flex;
    margin-top: 40px;  
    margin-bottom: 50px;
}

.buttonRegister {
    background: linear-gradient(90deg,#1663A2,#74b5eb,#1663A2);
    text-shadow: 0px 0px 5px rgb(39, 39, 39);
    border-style: none;
    display: flex;  
    flex-direction: column; 
    padding: 20px 36px ;   
    margin: 10px 0;   
    color: #fff;     
    text-transform: uppercase;   
    font-size: 18px;   
    letter-spacing: 2px;   
    border-radius: 5px;
    width:56.5%;
    height: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.buttonRegister:hover{
    cursor: pointer;
}

.orRegister {
        display: flex;
        flex-direction: row;
        width:57%;
        color:rgb(197, 197, 197);
        font-size: 19px;
        margin-top: 8px;
}

.copyrightRegister {
    font-size: 10px;
    position: absolute;
    bottom: 0%;
    color: white;
    margin-left: 7%;
    margin-bottom: 10px;
}.popup {
    position: relative;
    cursor: pointer;
    bottom:  35px;
    left: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -122px;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .popup .showw {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 1;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 1;}
    to {opacity:1 ;}
  }