.containerShare {
    display: flex;
    flex-direction: column;
    width: 10em
}

.containerBtnShare {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.containerBtnShare > p {
    color: red;
}

.btnClose {
    margin-top: 10px;
    padding: 10px;
    background-color: #C94EBF;
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:2em
}
.containerShare img{
    align-self:center;
    text-align:center;
    width:8em;
    height:2.5em;
    margin-bottom:1em
}