.forgotPassContainer{
    background: radial-gradient(75.05% 75.05% at 50% -1.66%, rgba(201, 78, 191, 0.2) 0%, rgba(201, 78, 191, 0) 100%), #212429;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: -webkit-center;

}

.subcontainer_forgotPass{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5%;
    background-color: #212429;/* #212429 */
    color: white;
    padding: 5em 5em 5em 5em;
    border-radius: 15px;
}

.subcontainer_forgotPass span{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.subcontainer_forgotPass input{
    margin-bottom: 5em;
    margin-top: 5em;
    font-family: 'Montserrat', sans-serif;
    height: 3em;
    border-radius: 10px;
    border-style: solid;
    background-color: #474747;
    border-color: white;
    border-width: 1px;
}

.subcontainer_forgotPass button{
    background-color: #C94EBF;
    border-style: none;
    border-radius: 10px;
    height: 4em;
    color: white;
}

.subcontainer_forgotPass p{
    font-size: 20px;
    margin-top: .7em;
}

.inputForgotPass::placeholder{
    color: white;
    text-align: center;

}